@use "./utils/variables" as *;
@import "./components/section";
@import "./components/container";
@import "./components/logo";
@import "./components/nav";
@import "./components/contact";
@import "./components/footer-item";
@import "./components/footer-logo";
@import "./components/footer-social";
@import "./components/footer-form";
@import "./components/newsletter-box";
@import "./components/footer-button";
@import "./components/h1";
@import "./components/loremipsum-list";
@import "./components/wwd-list";
@import "./components/team-list";
@import "./components/social-list";
@import "./components/customer-list";
@import "./components/buttons-portfolio";
@import "./components/list-portfolio";
@import "./components/modal";
@import "./components/checkbox";

* {
  margin: 0px;
  padding: 0px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Roboto", "Raleway", sans-serif;
  color: $font-color;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: $font-color;
  margin-bottom: 50px;
}
img {
  display: block;
}
.header-box {
  display: flex;
  flex-direction: row;
}
.header-line {
  border-bottom: 1px solid $borderheader;
}
.footer-background {
  background-color: $background-color;
}
.footer-box {
  display: flex;
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
input:hover::placeholder,
input:focus::placeholder,
textarea:hover::placeholder,
textarea:focus::placeholder {
  color: $brand-color;
}
textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  padding-top: 3px;
  color: rgba(0, 0, 0, 0.6);
}
