.contact-box {
  padding-top: 32px;
  padding-bottom: 32px;

  &__text {
    margin-left: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    color: $graycolor;

    &:first-child {
      margin-left: 0px;
    }
    &:hover,
    &:focus {
      color: $brand-color;
      outline: none;
    }
  }
  &__icon {
    margin-right: 10px;
    vertical-align: middle;
    fill: $brand-color;
  }
}
